body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 0px;
  float:left;
  background-color: transparent;
  font-family: 'Henny Penny', cursive;
  font-size: 1.7rem;
}
.customButton {
  padding:5px 12px;
  float:right;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem
}
.customButton:hover {
  color: white
}
.topbar{
  height:3rem;
  background-color: #555;
  padding: 0.25rem;
  font: satellite;
}
.dancer{
  position:absolute;
}

.awkward, .spell{
  position:absolute;
  animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-4px, 5px, 0);
  }
  
  20%, 80% {
    transform: translate3d(3px, 3px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 3px, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 2px, 0);
  }
}
.bouncy{
  position:absolute;
  animation: bounce 0.5s cubic-bezier(.5,0.05,1,.5);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.harry{
  position:absolute;
  content: url("https://vignette.wikia.nocookie.net/potterpuppetpals/images/b/b3/Harry_Potter_Puppet_Pal.png/revision/latest?cb=20111127203016");
  height:100px;
}

.ron{
  position:absolute;
  content: url(images/ron.jpg);
  height:100px;
}

.hermione{
  position:absolute;
  content: url(images/hermione.jpg);
  height:100px;
}

.voldemort{
  position:absolute;
  content: url(images/voldemort.png);
  height:100px;
}

.blinky {
  position:absolute;
}

.dumbledore{
  position:absolute;
  content: url(images/dumbledore.jpg);
  height:100px;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 70px, 0); }
}

body {
  background-image: url(images/greatHall.png);
  background-size: cover;
}

.spell {
  content: url("https://vignette.wikia.nocookie.net/elderscrolls/images/c/c6/MAGINVParalyze.png/revision/latest?cb=20120311053522");
  position: absolute;
}